In [13]:
import pandas as pd

In [14]:
data = pd.read_csv(
    'data.csv'
)

In [15]:
data.tail()

,genre,artist_name,track_name,track_id,popularity,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence
232720,Soul,Slave,Son Of Slide,2XGLdVl7lGeq8ksM6Al7jT,39,0.00384,0.687,326240,0.714,0.544000,D,0.0845,-10.626,Major,0.0316,115.542,4/4,0.962
232721,Soul,Jr Thomas & The Volcanos,Burning Fire,1qWZdkBl4UVPj9lK6HuuFM,38,0.03290,0.785,282447,0.683,0.000880,E,0.2370,-6.944,Minor,0.0337,113.830,4/4,0.969
232722,Soul,Muddy Waters,(I'm Your) Hoochie Coochie Man,2ziWXUmQLrXTiYjCg2fZ2t,47,0.90100,0.517,166960,0.419,0.000000,D,0.0945,-8.282,Major,0.1480,84.135,4/4,0.813
232723,Soul,R.LUM.R,With My Words,6EFsue2YbIG4Qkq8Zr9Rir,44,0.26200,0.745,222442,0.704,0.000000,A,0.3330,-7.137,Major,0.1460,100.031,4/4,0.489
232724,Soul,Mint Condition,You Don't Have To Hurt No More,34XO9RwPMKjbvRry54QzWn,35,0.09730,0.758,323027,0.470,0.000049,G#,0.0836,-6.708,Minor,0.0287,113.897,4/4,0.479

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232725 entries, 0 to 232724
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   genre             232725 non-null  object
 1   artist_name       232725 non-null  object
 2   track_name        232724 non-null  object
 3   track_id          232725 non-null  object
 4   popularity        232725 non-null  int64
 5   acousticness      232725 non-null  float64
 6   danceability      232725 non-null  float64
 7   duration_ms       232725 non-null  int64
 8   energy            232725 non-null  float64
 9   instrumentalness  232725 non-null  float64
 10  key               232725 non-null  object
 11  liveness          232725 non-null  float64
 12  loudness          232725 non-null  float64
 13  mode              232725 non-null  object
 14  speechiness       232725 non-null  float64
 15  tempo             232725 non-null  float64
 16  time_signature    232725 non-null  object
 17  valence           232725 non-null  float64
dtypes: float64(9), int64(2), object(7)
memory usage: 32.0+ MB

In [17]:
data.loc[data['popularity'] > 90, ['track_name', 'artist_name', 'popularity', 'genre']]

,track_name,artist_name,popularity,genre
9026,"break up with your girlfriend, i'm bored",Ariana Grande,99,Dance
9027,7 rings,Ariana Grande,100,Dance
9028,Without Me,Halsey,97,Dance
9029,needy,Ariana Grande,92,Dance
9030,NASA,Ariana Grande,91,Dance
...,...,...,...,...
138922,Amanece,Anuel Aa,92,Reggaeton
138931,Adictiva,Daddy Yankee,91,Reggaeton
152266,Close To Me (with Diplo) (feat. Swae Lee),Ellie Goulding,92,R&B
152287,Don't Call Me Up,Mabel,91,R&B
166057,High Hopes,Panic! At The Disco,95,Rock

# EDA:

In [18]:
data['genre'] = data['genre'].replace({
        "Children’s Music": "Children's Music",
        "Movie": "Soundtrack",
        "Opera": "Classical"
    })
data['genre'].unique().sort()

In [19]:
from src.funcseda import music_eda
eda = music_eda(data)
eda.do_encoding()
# Сохраняем пропорции по колонке 'genre_name'
fraction = 0.17
eda.data = eda.data.groupby('genre', group_keys=False).apply(
    lambda x: x.sample(frac=fraction, random_state=42)
).reset_index(drop=True)
eda.data = eda.encode_track_id()

C:\Users\mypc\AppData\Local\Temp\ipykernel_9324\1224962992.py:6: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  eda.data = eda.data.groupby('genre', group_keys=False).apply(

In [20]:
data = eda.data

In [21]:
counts_dict = data['genre'].value_counts(dropna=False).to_dict()
sorted_by_key = dict(sorted(counts_dict.items(), reverse=False))
sorted_by_key

{1: 246,
 3: 129,
 4: 105,
 6: 26,
 8: 153,
 9: 26,
 11: 499,
 13: 626,
 14: 288,
 15: 8,
 16: 1221,
 17: 22,
 19: 26,
 20: 566,
 21: 10,
 23: 107}

In [22]:
counts_dict = data['popularity'].value_counts(dropna=False).to_dict()
sorted_by_key = dict(sorted(counts_dict.items(), reverse=False))
sorted_by_key

{62: 508,
 63: 400,
 64: 380,
 65: 360,
 66: 316,
 67: 275,
 68: 260,
 69: 220,
 70: 201,
 71: 183,
 72: 159,
 73: 162,
 74: 113,
 75: 113,
 76: 75,
 77: 65,
 78: 50,
 79: 46,
 80: 41,
 81: 22,
 82: 14,
 83: 19,
 84: 21,
 85: 14,
 86: 11,
 87: 7,
 88: 5,
 89: 4,
 90: 2,
 91: 3,
 92: 1,
 93: 2,
 94: 2,
 95: 1,
 97: 2,
 99: 1}

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4058 entries, 0 to 4057
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   genre             4058 non-null   int64
 1   artist_name       4058 non-null   object
 2   track_name        4058 non-null   object
 3   popularity        4058 non-null   int64
 4   acousticness      4058 non-null   float64
 5   danceability      4058 non-null   float64
 6   duration_ms       4058 non-null   int64
 7   energy            4058 non-null   float64
 8   instrumentalness  4058 non-null   float64
 9   key               4058 non-null   int64
 10  liveness          4058 non-null   float64
 11  loudness          4058 non-null   float64
 12  mode              4058 non-null   int64
 13  speechiness       4058 non-null   float64
 14  tempo             4058 non-null   Int64
 15  time_signature    4058 non-null   int64
 16  valence           4058 non-null   float64
 17  item_id           4058 non-null   int32
dtypes: Int64(1), float64(8), int32(1), int64(6), object(2)
memory usage: 558.9+ KB

In [24]:
from src.this_mapping import supported_genres

# Создаём маппинг индекс → название жанра
idx_to_genre = {i: name for i, name in enumerate(supported_genres)}

# Декодируем числовой жанр в название
data['genre_name'] = data['genre'].map(idx_to_genre)

# Проверяем, нет ли NaN (некорректных жанров)
if data['genre_name'].isna().any():
    raise ValueError("Обнаружены некорректные значения жанра!")

# Группируем по жанру и считаем СУММАРНУЮ популярность (можно заменить на .mean() для средней)
genre_pop_sum = (
    data.groupby('genre_name')['popularity']
    .sum()  # или .mean(), если хочешь среднюю популярность трека в жанре
    .sort_values(ascending=False)
)

# Выводим как словарь (жанр → суммарная популярность)
genre_pop_dict = genre_pop_sum.to_dict()
for genre, total_pop in genre_pop_dict.items():
    print(f"{genre}")

Pop
Rap
Rock
Hip-Hop
Indie
R&B
Folk
Alternative
Soul
Country
Blues
Electronic
Jazz
Reggae
Ska
Classical

## Каждый значимый признак закодирован. ЕDA окончено

In [25]:
data.tail()

,genre,artist_name,track_name,popularity,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,item_id,genre_name
4053,23,Barry White,"Can't Get Enough Of Your Love, Babe",66,0.117,0.730,274000,0.772,0.121000,5,0.0757,-7.622,1,0.0673,112,4,0.779,4053,Soul
4054,23,Paolo Nutini,New Shoes,68,0.470,0.748,203653,0.735,0.000011,8,0.0851,-8.692,1,0.0903,150,4,0.854,4054,Soul
4055,23,Shallou,Begin (feat. Wales),63,0.815,0.601,242860,0.499,0.712000,6,0.1090,-11.131,1,0.0343,97,4,0.531,4055,Soul
4056,23,Aretha Franklin,I Say a Little Prayer,76,0.480,0.590,216773,0.355,0.000000,9,0.0585,-14.051,1,0.0352,133,4,0.499,4056,Soul
4057,23,Solange,Cranes in the Sky,67,0.408,0.719,250973,0.615,0.000147,6,0.2350,-5.972,1,0.0450,97,4,0.465,4057,Soul

In [26]:
data.to_csv('edadata.csv', index=False)